<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background">
    <div class="b-name-page about">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">О компании</a>
                    </li>
                </ul>
            </div>
            <div class="title">О КОМПАНИИ
            </div>
        </div>
    </div>
    <div class="b-present-info">
        <div class="mb-text-image">
            <div class="wrap-image">
                <img class="rectangle-image" src="../assets/images/img1.png" alt="">
            </div>
            <div class="wrap-text">
                <div class="paragraph">Компания «Приорити» была создана в 2003 году. Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).</div>
                <div class="paragraph-two">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                    Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов: APart, Bose, Crown, JAMO, JBL, Kramer, Martin Audio, Mackie, Peavey, Pioneer, RCF, Soundcraft.</div>
            </div>
        </div>
        <div class="mb-text-image">
            <div class="wrap-text mirror">
                <div class="paragraph">Компания «Приорити» была создана в 2003 году. Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).</div>
                <div class="paragraph-two">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                    Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов: APart, Bose, Crown, JAMO, JBL, Kramer, Martin Audio, Mackie, Peavey, Pioneer, RCF, Soundcraft.</div>
            </div>
            <div class="wrap-image">
                <img class="rectangle-image" src="../assets/images/img3.png" alt="">
            </div>
        </div>
    </div>
    <div class="b-publication">
        <div class="mb-wrap-info">
            <div class="title">ПУБЛИКАЦИИ</div>
        </div>
        <div class="mb-wrap-news">
            <a href=""><span class="image"></span></a>
            <div class="wrap-item">
                <div class="data">10.10.2014</div>
                <a href=""><span class="title">НАЗВАНИЕ НОВОСТЕЙ И СТАТЕЙ МОЖЕТ БЫТЬ В 3 СТРОКИ</span></a>
                <div class="text">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды </div>
                <a href="/news.html">
                    <span class="button">ПОДРОБНЕЕ</span>
                </a>
            </div>
        </div>
        <div class="mb-wrap-news">
            <a href=""><span class="image"></span></a>
            <div class="wrap-item">
                <div class="data">10.10.2014</div>
                <a href=""><span class="title">НАЗВАНИЕ НОВОСТЕЙ И СТАТЕЙ МОЖЕТ БЫТЬ В 3 СТРОКИ</span></a>
                <div class="text">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды </div>
                <a href="/news.html">
                    <span class="button">ПОДРОБНЕЕ</span>
                </a>
            </div>
        </div>
        <div class="mb-wrap-news">
            <a href=""><span class="image"></span></a>
            <div class="wrap-item">
                <div class="data">10.10.2014</div>
                <a href=""><span class="title">НАЗВАНИЕ НОВОСТЕЙ И СТАТЕЙ МОЖЕТ БЫТЬ В 3 СТРОКИ</span></a>
                <div class="text">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды </div>
                <a href="/news.html">
                    <span class="button">ПОДРОБНЕЕ</span>
                </a>
            </div>
        </div>
        <div class="mb-wrap-pagination">
            <ul>
                <li><a href="#"><</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->