<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background">
    <div class="b-name-page">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="/activity.html">Направления деятельности</a>
                    </li>
                </ul>
            </div>
            <div class="title">НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
            </div>
        </div>
    </div>
    <div class="g-block-activity">
        <div class="b-sphere-item">
            <div class="icon1"></div>
            <div class="title">ПРОЕКТИРОВАНИЕ И ИНСТАЛЛЯЦИЯ ПРОФЕССИОНАЛЬНЫХ АКУСТИЧЕСКИХ СИСТЕМ</div>
            <div class="wrap-image-text">
                <div class="image" style="background: #000 url('../assets/images/img5.png') no-repeat center;"></div>
                <div class="wrap-text">
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
                </div>
            </div>
            <a class="button" href="/design.html">
                <span>ПОДРОБНЕЕ</span>
            </a>
            <div class="wrap-slider">
                <div class="left-block">ПАРТНЕРЫ</div>
                <div class="right-block">
                    <div class="b-partners slide-wrapper">
                        <div class="frame basic">
                            <ul class="slidee">
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>
                        <div class="wrap-arrow">
                            <div class="i-left"></div>
                            <div class="i-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-block-activity mirror">
        <div class="b-sphere-item">
            <div class="icon2"></div>
            <div class="title">ПРОЕКТИРОВАНИЕ И ИНСТАЛЛЯЦИЯ ПРОФЕССИОНАЛЬНЫХ АКУСТИЧЕСКИХ СИСТЕМ</div>
            <div class="wrap-image-text">
                <div class="wrap-text">
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
                </div>
                <div class="image" style="background: #000 url('../assets/images/img5.png') no-repeat center;"></div>
            </div>
            <a class="button" href="/design.html">
                <span>ПОДРОБНЕЕ</span>
            </a>
            <div class="wrap-slider">
                <div class="left-block">ПАРТНЕРЫ</div>
                <div class="right-block">
                    <div class="b-partners slide-wrapper">
                        <div class="frame basic">
                            <ul class="slidee">
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>
                        <div class="wrap-arrow">
                            <div class="i-left"></div>
                            <div class="i-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-block-activity">
        <div class="b-sphere-item">
            <div class="icon3"></div>
            <div class="title">ПРОЕКТИРОВАНИЕ И ИНСТАЛЛЯЦИЯ ПРОФЕССИОНАЛЬНЫХ АКУСТИЧЕСКИХ СИСТЕМ</div>
            <div class="wrap-image-text">
                <div class="image" style="background: #000 url('../assets/images/img5.png') no-repeat center;"></div>
                <div class="wrap-text">
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
                </div>
            </div>
            <a class="button" href="/design.html">
                <span>ПОДРОБНЕЕ</span>
            </a>
            <div class="wrap-slider">
                <div class="left-block">ПАРТНЕРЫ</div>
                <div class="right-block">
                    <div class="b-partners slide-wrapper">
                        <div class="frame basic">
                            <ul class="slidee">
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                            </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>
                        <div class="wrap-arrow">
                            <div class="i-left"></div>
                            <div class="i-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-block-activity mirror">
        <div class="b-sphere-item">
            <div class="icon4"></div>
            <div class="title">ПРОЕКТИРОВАНИЕ И ИНСТАЛЛЯЦИЯ ПРОФЕССИОНАЛЬНЫХ АКУСТИЧЕСКИХ СИСТЕМ</div>
            <div class="wrap-image-text">
                <div class="wrap-text">
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                    <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
                </div>
                <div class="image" style="background: #000 url('../assets/images/img5.png') no-repeat center;"></div>
            </div>
            <a class="button" href="/news.html">
                <span>ПОДРОБНЕЕ</span>
            </a>
            <div class="wrap-slider">
                <div class="left-block">ПАРТНЕРЫ</div>
                <div class="right-block">
                    <div class="b-partners slide-wrapper">
                        <div class="frame basic">
                            <ul class="slidee">
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span></a>
                                </li>
                                <li>
                                    <a href=""><span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span></a></a>
                                </li>
                            </ul>
                        </div>
                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>
                        <div class="wrap-arrow">
                            <div class="i-left"></div>
                            <div class="i-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->