<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-area">
    <div class="mb-wrap-info">
        <div class="crumbs">
            <ul>
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <div class="i-crumbs"></div>
                    <a href="/sphere.html">Сфера применения</a>
                </li>
                <li>
                    <div class="i-crumbs"></div>
                    <a class="activate" href="">Зона отдыха</a>
                </li>
            </ul>
        </div>
        <div class="title">ЗОНА ОТДЫХА
        </div>
    </div>
    <div class="b-present-design">
        <div class="mb-text-image">
            <div class="wrap-image">
                <div class="image" style="background: url('../assets/images/img5.png');"></div>
            </div>
            <div class="wrap-text">
                <div class="paragraph">Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                    Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов</div>
            </div>
        </div>
        <div class="mb-text-image">
            <div class="wrap-text mirror">
                <div class="paragraph">Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                    Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов</div>
            </div>
            <div class="wrap-image">
                <div class="image" style="background: url('../assets/images/img5.png');"></div>
            </div>
        </div>
    </div>
    <div class="b-projects slide-wrapper">
        <div class="mb-wrap-info">
            <div class="title">ПРОЕКТЫ
            </div>
        </div>
        <div class="mb-slide-clients">
            <span class="i-left"></span>
            <span class="i-right"></span>
        </div>
        <div class="mb-wrap-projects basic2">
            <div class="projects">
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">КУЛЬТУРНО-ДОСУГОВЫЙ
                        ЦЕНТР «ЛИДЕР» МЧС РОССИИ
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>
            <a class="install" href="">
                <span class="button download">
                    <span>ВСЕ ИНСТАЛЯЦИИ</span>
                </span>
            </a>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->