<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-portfolio">
    <div class="b-name-page">
        <div class="mb-wrap-info">
            <div class="title"><span>СЕТЬ МАГАЗИНОВ МОДНОЙ ЖЕНСКОЙ ОДЕЖДЫ И
                АКСЕССУАРОВ «MANGO» (Г. МОСКВА)</span>
            </div>
        </div>
    </div>
    <div class="b-block-slider slide-wrapper">
        <div class="mb-slide-clients">
            <span class="i-left"></span>
            <span class="i-right"></span>
        </div>
        <div class="main-slide">
            <div class="image" style="background: url('../assets/images/test1.jpg'); background-size: cover;"></div>
        </div>
        <div class="frame basic3">
            <ul class="slidee">
                <li>
                    <span style="background: url('../assets/images/img12.png') no-repeat; background-position: center" data-big="../assets/images/img12.png"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/test1.jpg') no-repeat; background-position: center" data-big="../assets/images/test1.jpg"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/test2.jpg') no-repeat; background-position: center" data-big="../assets/images/test2.jpg"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/test3.jpg') no-repeat; background-position: center" data-big="../assets/images/test3.jpg"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/test1.jpg') no-repeat; background-position: center" data-big="../assets/images/test1.jpg"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/test2.jpg') no-repeat; background-position: center" data-big="../assets/images/test2.jpg"></span>
                </li>
                <li>
                    <span class="preview" style="background: url('../assets/images/img12.png') no-repeat; background-position: center" data-big="../assets/images/img12.png"></span>
                </li>
                <li>
                    <span style="background: url('../assets/images/img12.png') no-repeat; background-position: center" data-big="../assets/images/img12.png"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="b-portfolio-description">
        <div class="item">Акустические системы были выбраны из модельных рядов JAMO, а именно в проекте были использованы встраиваемые широкополосные громкоговорители JAMO IN/OUT DOOR 660A. Обладая превосходным качеством звучания, данные акустические системы органично вписались в интерьер магазина.</div>
        <div class="item">Усиливающим элементом комплекса стал мощный оконечный усилитель INTER M500. В качестве микшера была использована модель микшера-предусилителя APART PM7400 MKII, обладающего низкими шумовыми характеристиками. Источником же звукового сигнала стал DVD-проигрыватель MARANTZ DV4610.</div>
        <div class="item">Оборудование, установленное в магазине MANGO, отличается простотой в эксплуатации и не требует постоянного присутствия специалиста для его обслуживания.</div>
    </div>
    <div class="b-review">
        <div class="left-block">
            <div class="item">
                Проекты компании «Приорити» для сети магазинов MANGO:<br>
                г. Москва, Манежная пл., д. 1<br>
                г. Москв
            </div>
        </div>
        <div class="right-block">
            <div class="icon"></div>
            <a href=""><span class="button">ОТЗЫВ В PDF</span></a>
        </div>
    </div>
    <div class="mb-wrap-buttons">
        <div class="buttons">
            <span class="i-border-left"></span>
            <a href=""><span class="button">ПРЕДЫДУШЩИЙ</span></a>
            <a href=""><span class="button">СЛЕДУЮЩИЙ</span></a>
            <span class="i-border-right"></span>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->