<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background-partners">
    <div class="b-compare-products">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Сравнение товаров</a>
                    </li>
                </ul>
            </div>
            <div class="title">СРАВНЕНИЕ ТОВАРОВ
            </div>
        </div>
        <div class="b-wrap-compare">
            <div class="title">АКУСТИЧЕСКИЕ СИСТЕМЫ: ПОТОЛОЧНЫЕ</div>
        </div>
        <div class="b-wrap-compare-blocks">
            <div class="wrap-option">
                <div class="b-top-block">
                    <div class="main-option">
                        <a href="" class="deployment unhidden">Свернуть сравнение</a>
                        <div class="all">Все характеристики</div>
                    </div>
                </div>
                <div class="b-bottom-block b-product-bottom">
                    <div class="main-option">
                        <div class="item-title">Только отличающиеся</div>
                        <div class="wrap">
                            <div class="item">Тип установки</div>
                            <div class="item">Назначение</div>
                            <div class="item">Тип</div>
                            <div class="item">...</div>
                            <div class="item">-</div>
                            <div class="item">Вес</div>
                            <div class="item">Цена</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-product">
                <div class="b-product-top">
                    <div class="wrap-image">
                        <div class="image" style="background: url('../assets/images/img5.png') no-repeat; background-position: center"></div>
                    </div>
                    <div class="wrap-text">
                        Bose FreeSpace®
                        DS100F Flush Mount
                        loudspeaker
                    </div>
                </div>
                <div class="b-product-bottom">
                    <div class="main-option">
                        <a href="" class="delete">Удалить</a>
                        <div class="wrap">
                            <div class="item">Встраиваемая</div>
                            <div class="item">Комплект 2.0</div>
                            <div class="item">Пассивные</div>
                            <div class="item">...</div>
                            <div class="item">-</div>
                            <div class="item">3.5 кг.</div>
                            <div class="item">3 500 р.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-product">
                <div class="b-product-top">
                    <div class="wrap-image">
                        <div class="image" style="background: url('../assets/images/img5.png') no-repeat; background-position: center"></div>
                    </div>
                    <div class="wrap-text">
                        Bose FreeSpace®
                        DS100F Flush Mount
                        loudspeaker
                    </div>
                </div>
                <div class="b-product-bottom">
                    <div class="main-option">
                        <a href="" class="delete">Удалить</a>
                        <div class="wrap">
                            <div class="item">Встраиваемая</div>
                            <div class="item">Комплект 2.0</div>
                            <div class="item">Пассивные</div>
                            <div class="item">...</div>
                            <div class="item">-</div>
                            <div class="item">1.5 кг.</div>
                            <div class="item">1 500 р.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-product">
                <div class="b-product-top">
                    <div class="wrap-image">
                        <div class="image" style="background: url('../assets/images/img5.png') no-repeat; background-position: center"></div>
                    </div>
                    <div class="wrap-text">
                        Bose FreeSpace®
                        DS100F Flush Mount
                        loudspeaker
                    </div>
                </div>
                <div class="b-product-bottom">
                    <div class="main-option">
                        <a href="" class="delete">Удалить</a>
                        <div class="wrap">
                            <div class="item">Встраиваемая</div>
                            <div class="item">Комплект 2.0</div>
                            <div class="item">Пассивные</div>
                            <div class="item">...</div>
                            <div class="item">-</div>
                            <div class="item">1.5 кг.</div>
                            <div class="item">2 500 р.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-wrap-compare">
            <div class="title">АКУСТИЧЕСКИЕ СИСТЕМЫ: НАПОЛЬНЫЕ</div>
        </div>
        <a class="link-compare" href="/">Сравнить отложенное</a>
        <div class="b-clients slide-wrapper">
            <div class="frame basic">
                <ul class="slidee">
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/img5.png') no-repeat; background-position: center" class="logo"></span>
                        <div class="wrap-text">
                            <div class="text">
                                Bose FreeSpace®
                                DS100F Flush Mount
                                loudspeaker
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
            <div class="wrap-arrow">
                <div class="i-left"></div>
                <div class="i-right"></div>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->