<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background g-contacts">
    <div class="b-name-page">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="title">КОНТАКТЫ
            </div>
        </div>
    </div>
    <div class="wrap-item">
        <div class="b-left-block">
            <div class="title">АДРЕС</div>
            <div class="address">107564 г. Москва,
                ул. Краснобогатырская д.2
                ТЦ "Красный богатырь", стр. 73, офис 14.</div>
            <div class="title">ТЕЛ./ФАКС:</div>
            <div class="phone">+7 (495) 645 82 83</div>
            <div class="title">ЭЛЕКТРОННАЯ ПОЧТА:</div>
            <span class="email">
                <a href="mailto:bose@bk.ru">bose@bk.ru</a>
            </span>
            <div class="title">ICQ:</div>
            <div class="number">271145028</div>
        </div>
        <div class="b-right-block">
            <div class="title">СХЕМА ПРОЕЗДА</div>
            <div class="description">От метро Преображенская площадь. Последний вагон из центра, выход к трамвайной остановке "метро Преображенская Площадь" (из перехода направо) в сторону ВДНХ. Трамвай №2, №7, №11, №46 до остановки "Богородский храм", а также маршрутное такси №11К, №46.</div>
            <div class="description">ТЦ "Красный богатырь" главный вход, направо к пропускному пункту, стр. 73, офис 14.</div>
            <div class="map">
                <div id="YMapsID" style="width:414px;height:341px"></div>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->