
<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background">
    <div class="g-design">
        <div class="b-name-page">
            <div class="mb-wrap-info">
                <div class="crumbs">
                    <ul>
                        <li>
                            <a href="">Главная</a>
                        </li>
                        <li>
                            <div class="i-crumbs"></div>
                            <a href="/activity.html">Направления деятельности</a>
                        </li>
                        <li>
                            <a class="activate" href="/design.html">Проектирование и инсталяция</a>
                        </li>
                    </ul>
                </div>
                <div class="title"><span>ПРОЕКТИРОВАНИЕ И ИНСТАЛЛЯЦИЯ ПРОФЕССИОНАЛЬНЫХ
                    АКУСТИЧЕСКИХ СИСТЕМ</span>
                </div>
            </div>
        </div>
        <div class="b-present-design">
            <div class="mb-text-image">
                <div class="wrap-image">
                    <div class="image" style="background: url('../assets/images/img5.png');"></div>
                </div>
                <div class="wrap-text">
                    <div class="paragraph">Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                        Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов</div>
                </div>
            </div>
            <div class="mb-text-image">
                <div class="wrap-text mirror">
                    <div class="paragraph">Основное направление ее деятельности — акустический дизайн и проектирование аудио-видео-комплексов для помещений общественного назначения (Public Address).Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                        Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов</div>
                </div>
                <div class="wrap-image mirror">
                    <div class="image" style="background: url('../assets/images/img5.png');"></div>
                </div>
            </div>
        </div>
        <div class="b-partner slide-wrapper">
            <div class="mb-wrap-info">
                <div class="title">ПАРТНЕРЫ</div>
                <div class="description">ПРИОРИТИ является авторизованным партнером ведущих мировых производителей акустического, проекционного и видеооборудования, поставщиков решений для комплексного оснащения объектов системами безопасности. Вся поставляемая компанией продукция сертифицирована для продажи на территории Российской Федерации и поддерживается гарантией фирм-производителей.</div>
            </div>
            <div class="mb-slide-clients">
                <span class="i-left"></span>
                <span class="i-right"></span>
            </div>
            <div class="frame basic1">
                <ul class="slidee">
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client5.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client5.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client1.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client2.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client3.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client4.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                    <li>
                        <span style="background: url('../assets/images/client5.png') no-repeat; background-position: center" class="logo"></span>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
        <div class="b-projects slide-wrapper">
            <div class="mb-wrap-info">
                <div class="title">ПРОЕКТЫ
                </div>
            </div>
            <div class="mb-slide-clients">
                <span class="i-left"></span>
                <span class="i-right"></span>
            </div>
            <div class="mb-wrap-projects basic2">
                <div class="projects">
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="wrap-item">
                        <div class="title">Культурно-досуговый
                            центр «Лидер» МЧС России
                            (г. Видное Московской области)</div>
                        <div class="rectangle">
                            <img src="../assets/images/image1.png" alt=""/>
                        </div>
                        <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                        <div class="wrap-more">
                            <a class="more" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
                <a class="install" href="">
                <span class="button download">
                    <span>ВСЕ ИНСТАЛЯЦИИ</span>
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->