<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background g-news">
    <div class="b-name-page">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="title">НОВОСТИ
            </div>
        </div>
    </div>
    <div class="b-news">
        <div class="mb-wrap-news">
            <div class="image"></div>
            <div class="wrap-item">
                <div class="data">10.10.2014</div>
                <div class="title">НАЗВАНИЕ НОВОСТЕЙ И СТАТЕЙ МОЖЕТ БЫТЬ В 3 СТРОКИ</div>
                <div class="text">Компания предоставляет заказчикам полный спектр услуг в области проектирования, монтажа, установки, настройки, гарантийного и постгарантийного сервисного обслуживания аудио- и видеосистем, а также проката и аренды звукового и видеооборудования.
                    Компания «Приорити» является авторизованным дилером ведущих мировых производителей акустики и Hi-Fi-компонентов: APart, Bose, Crown, JAMO, JBL, Kramer, Martin Audio, Mackie, Peavey, Pioneer, RCF, Soundcraft.</div>
                <div class="text">Вся поставляемая компанией продукция сертифицирована для продажи на территории Российской Федерации и поддерживается гарантией фирм-производителей.
                    Конкурентные преимущества:</div>
                <div class="text">Единый центр ответственности — каждый проект выполняется «под ключ» и предусматривает необходимые строительно-монтажные работы, закладку коммуникационных проводов, настройку оборудования. Компания «Приорити» берет на себя ответственность за результат в целом, </div>
            </div>
        </div>
    </div>
    <div class="b-next-prev">
        <div class="mb-wrap-buttons">
            <div class="buttons">
                <span class="i-border-left"></span>
                <a href=""><span class="button">ПРЕДЫДУЩИЙ</span></a>
                <a href=""><span class="button">СЛЕДУЮЩИЙ</span></a>
                <span class="i-border-right"></span>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->