<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background-partners g-partners-catalog-cart">
    <div class="b-compare-products">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a href="">Партнеры</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Desigual</a>
                    </li>
                </ul>
            </div>
            <div class="title"><span>BOSE FREESPACE® DS100F FLUSH MOUNT LOUDSPEAKER</span>
            </div>
        </div>
    </div>
    <div class="b-left">
        <div class="wrap-image">
            <div class="image" style="background: url('../assets/images/img9.png') no-repeat center;"></div>
        </div>
        <div class="b-sidebar">
            <ul class="wrap-menu">
                <li class="menu">
                    <a class="parent" href="">АКУСТИЧЕСКИЕ СИСТЕМЫ
                        <span class="beforeElem" style="display: none"></span>
                    </a>
                    <ul class="child" style="display: none;">
                        <li><a href=""><span class="icon"></span>Активные</a></li>
                        <li><a href=""><span class="icon"></span>Подвесные</a></li>
                        <li><a href=""><span class="icon"></span>Комбинированные комплекты</a></li>
                        <li><a href=""><span class="icon"></span>Крепления</a></li>
                        <li><a href=""><span class="icon"></span>Потолочные</a></li>
                        <li><a href=""><span class="icon"></span>Настенные</a></li>
                        <li><a href=""><span class="icon"></span>Напольные</a></li>
                        <li><a href=""><span class="icon"></span>Сабвуферы</a></li>
                        <li><a href=""><span class="icon"></span>Аксессуары</a></li>
                        <li><a href=""><span class="icon"></span>Кабель</a></li>
                    </ul>
                </li>
                <li class="menu">
                    <a class="parent" href="">УСИЛИТЕЛИ
                        <span class="beforeElem" style="display: none"></span>
                    </a>
                    <ul class="child" style="display: none;">
                        <li><a href=""><span class="icon"></span>Потолочные</a></li>
                        <li><a href=""><span class="icon"></span>Настенные</a></li>
                        <li><a href=""><span class="icon"></span>Напольные</a></li>
                    </ul>
                </li>
                <li class="menu">
                    <a class="parent" href="">В ДВЕ СТРОКИ НАЗВАНИЕ ПОДРАЗДЕЛА
                        <span class="beforeElem" style="display: none"></span>
                    </a>
                    <ul class="child" style="display: none;">
                        <li><a href=""><span class="icon"></span>Активные</a></li>
                        <li><a href=""><span class="icon"></span>Аксессуары</a></li>
                    </ul>
                </li>
                <li class="menu">
                    <a class="parent" href="">НАЗВАНИЕ ПОДРАЗДЕЛА
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="b-right">
        <div class="wrap-top-block">
            <div class="slide-left">
                <div class="b-block-slider slide-wrapper">
                    <div class="mb-slide-clients">
                        <span class="i-left"></span>
                        <span class="i-right"></span>
                    </div>
                    <div class="main-slide">
                        <a class="image-fancy" href="../assets/images/google1.jpg" rel="gallery"><img class="image" src="../assets/images/google1.jpg"></a>
                    </div>
                    <div class="frame basic">
                        <ul class="slidee catalog-slide">
                            <li>
                                <a class="image-fancy" href="../assets/images/google1.jpg" rel="gallery"><img src='../assets/images/google1.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google1.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google2.jpg" rel="gallery"><img src='../assets/images/google2.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google2.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google3.jpg" rel="gallery"><img src='../assets/images/google3.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google3.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google1.jpg" rel="gallery"><img src='../assets/images/google1.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google1.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google2.jpg" rel="gallery"><img src='../assets/images/google2.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google2.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google3.jpg" rel="gallery"><img src='../assets/images/google3.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google3.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google1.jpg" rel="gallery"><img src='../assets/images/google1.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google1.jpg" ></a>
                            </li>
                            <li>
                                <a class="image-fancy" href="../assets/images/google2.jpg" rel="gallery"><img src='../assets/images/google2.jpg' no-repeat; background-position: center; background-size: cover" data-big="../assets/images/google2.jpg" ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="info-right">
                <div class="description">Акустическая система FreeSpace® DS 100F – это мощная система, работающая в полном диапазоне частот, используется для фонового звука в магазинах, ресторанах, гостиницах, где музыка и развлечение являются ключевым фактором успеха предприятия.</div>
                <div class="description">Система мощностью 100 ватт устанавливается на потолке или на подвесе и предназначена для установки на потолках до 10 метров. Для создания мощного и ровного звукового </div>
                <div class="wrap-call">
                    <div class="text">Цена оборудования</div>
                    <div class="call">ЗВОНИТЕ</div>
                </div>
                <div class="conditions">
                    <div class="title">Условия продажи и доставки</div>
                    <div class="description">Акустическая система FreeSpace® DS 100F мощная система, работающая в полном диапазоне частот, используется </div>
                </div>
            </div>
        </div>
        <div class="b-wrap-tabs">
            <input type="radio" name="odin" checked="checked" id="vkl1">
            <label class="first" for="vkl1">ПОДРОБНОЕ ОПИСАНИЕ</label>
            <input type="radio" name="odin" id="vkl2">
            <label for="vkl2">ИНСТРУКЦИИ</label>
            <input type="radio" name="odin" id="vkl3">
            <label for="vkl3">АККСЕСУАРЫ</label>
            <div class="tab-content">
                <div>
                    <div class="title">APart CM20T</div>
                    <div class="description">
                        APart CM20T - двухполосный потолочный громкоговоритель белого цвета с низкочастотным динамиком 6,5". Диффузор низкочастотного динамика выполнен из полипропилена, что позволяет использовать APart CM20T во влажных помещениях и обеспечивает очень низкий уровень искажений. Для расширения воспроизводимых частот в APart CM20T встроен высокочастотный динамик с купольным диффузором 1" из шелка. APart CM20T идеально подходит для подходит как для воспроизведения музыки, так и речи. Каркас громкоговорителя выполнен из высококачественного пластика ABS. APart CM20T может подключаться как к 100-вольтовым, так и к низкоомным аудио усилителям.
                    </div>
                    <div class="title">
                        Основные технические характеристики APart CM20T:
                    </div>
                    <ul>
                        <li><span></span>импеданс : 16 Ом / 100 В</li>
                        <li><span></span>мощность 100 В : 2,5 - 5 - 10 - 20 Вт</li>
                        <li><span></span>мощность 16 Ом : 60 Вт</li>
                        <li><span></span>полоса частот : 60 Гц - 20 кГц</li>
                        <li><span></span>номинальное звуковое давление : 92 дБ</li>
                        <li><span></span>класс защиты : IP54</li>
                        <li><span></span>внешний Ø : 205 мм</li>
                        <li><span></span>установочный Ø : 183 мм</li>
                        <li><span></span>установочная глубина : 80 мм</li>
                    </ul>
                    <div class="title">
                        Установка APart CM20T:
                    </div>
                    <div class="wrap-desc">
                        <div class="left">
                            <div class="image" style="background: url('../assets/images/img15.png')"></div>
                        </div>
                        <div class="right">
                            <div class="description">Конструкция громкоговорителя позволяет быстро и без усилий установить его в подвесной потолок. Снимите защитную решетку громкоговорителя, под ней вы найдете 3 винта. При вращении этих винтов осуществляется зажим громкоговорителя с тыльной стороны к потолочной панели. Подсоедините кабель к колодке громкоговорителя, вставьте громкоговоритель в заранее сделанное отверстие в потолке и затяните 3 крепежных винта.</div>
                        </div>
                    </div>
                </div>
                <div class="tab-download">
                    <div class="mb-download">
                        <div class="i-pdf"></div>
                        <a href="">
                            <span class="button download">
                                <span>ОТЗЫВ PDF</span>
                            </span>
                        </a>
                    </div>
                    <div class="mb-download">
                        <div class="i-pdf"></div>
                        <a href="">
                            <span class="button download">
                                <span>ОТЗЫВ PDF</span>
                            </span>
                        </a>
                    </div>
                    <div class="mb-download">
                        <div class="i-pdf"></div>
                        <a href="">
                            <span class="button download">
                                <span>ОТЗЫВ PDF</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="souvenires">
                    <div class="wrap">
                        <div class="left">
                            <div class="image" style="background: url('../assets/images/img15.png')"></div>
                        </div>
                        <div class="right">
                            <div class="title">НАЗВАНИЕ АКСЕССУАРА ДЛЯ ДАННОГО ТОВАРА
                                ДЛЯ ДАННОГО ТОВАРА</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est neque, placerat a congue vel, luctus non lacus.</div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="left">
                            <div class="image" style="background: url('../assets/images/img15.png')"></div>
                        </div>
                        <div class="right">
                            <div class="title">НАЗВАНИЕ АКСЕССУАРА ДЛЯ ДАННОГО ТОВАРА
                                ДЛЯ ДАННОГО ТОВАРА</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est neque, placerat a congue vel, luctus non lacus.</div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="right">
                            <div class="title">НАЗВАНИЕ АКСЕССУАРА ДЛЯ ДАННОГО ТОВАРА
                                ДЛЯ ДАННОГО ТОВАРА</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est neque, placerat a congue vel, luctus non lacus.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback-contact">
            <div class="title">ЗАДАТЬ ВОПРОС</div>
            <div class="tip">Просто заполните не большую форму и мы обязательно с вами свяжимся</div>
            <div class="wrap-input">
                <div class="name">Ваше имя</div>
                <input type="text" placeholder="Ваше имя">
            </div>
            <div class="wrap-input">
                <div class="name">Ваша компания</div>
                <input type="text" placeholder="Ваша компания">
            </div>
            <div class="wrap-input">
                <div class="name">Ваш номер телефона</div>
                <input class="err" type="text" placeholder="Ваш номер телефона">
            </div>
            <div class="wrap-input">
                <div class="name">Ваша электронная форма</div>
                <input type="text" placeholder="Ваша электронная форма">
            </div>
            <div class="wrap-input">
                <div class="name">Комментарии</div>
                <textarea placeholder="text">
                </textarea>
            </div>
            <div class="wrap-button">
                <a href="">
                    <span class="button">ОТПРАВИТЬ СООБЩЕНИЕ</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->