<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background-partners partners">
    <div class="b-partners-page">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Партнеры</a>
                    </li>
                </ul>
            </div>
            <div class="title">ПАРТНЕРЫ
            </div>
        </div>
        <div class="b-partner-item">
            <div class="light"></div>
            <div class="wrap-image">
                <div class="image" style="background: url('../assets/images/img9.png') no-repeat center;"></div>
            </div>
            <div class="wrap-title">
                <div class="title">DESIGUAL</div>
                <a href="http://www.desigual.com" target="_blank">WWW.DESIGUAL.COM</a>
            </div>
            <div class="wrap-block">
                <div class="text">Компания Bose (Bose Corporation, США) была создана в 1964 году профессором Массачусетского технологического института доктором Амаром Джи Боуз. Сегодня Bose является крупнейшим производителем домашней и профессиональной акустики и электроники, имеет годовой товарооборот в 1,5 млрд. долларов. На предприятиях Bose (а это шесть фабрик, 17 филиалов и множество магазинов по всему миру) работает порядка 10 тыс. сотрудников.Компания Bose (Bose Corporation, США) была создана в 1964 году профессором Массачусетского технологического института доктором Амаром Джи Боуз. Сегодня Bose является крупнейшим производителем домашней и профессиональной акустики и электроники, имеет годовой товарооборот в 1,5 млрд. долларов. На предприятиях Bose (а это шесть фабрик, 17 филиалов и множество магазинов по всему миру) работает порядка 10 тыс. сотрудников.</div>
                <div class="wrap-subsection">
                    <ul>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА В ДВЕ СТРОКИ ПИШЕТЬСЯ</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="b-partner-item">
            <div class="light"></div>
            <div class="wrap-image">
                <div class="image" style="background: url('../assets/images/img10.png') no-repeat center;"></div>
            </div>
            <div class="wrap-title">
                <div class="title">STARBUCKSCOFFEE</div>
                <a href="http://www.desigual.com" target="_blank">WWW.STARBUCKSCOFFEE.RU</a>
            </div>
            <div class="wrap-block">
                <div class="text">Компания Bose (Bose Corporation, США) была создана в 1964 году профессором Массачусетского технологического института доктором Амаром Джи Боуз. Сегодня Bose является крупнейшим производителем домашней и профессиональной акустики и электроники, имеет годовой товарооборот в 1,5 млрд. долларов. На предприятиях Bose (а это шесть фабрик, 17 филиалов и множество магазинов по всему миру) работает порядка 10 тыс. сотрудников.</div>
                <div class="wrap-subsection">
                    <ul>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА В ДВЕ СТРОКИ ПИШЕТЬСЯ</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                        <li><span></span><a href="">НАЗВАНИЕ ПОДРАЗДЕЛА</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->