<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background-partners">
    <div class="b-partners-page b-partners-page-filter">
        <div id="image-preview" style="display: none;">
            CONTENT
        </div>
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a href="">Партнеры</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a href="" class="activate">Desigual</a>
                    </li>
                </ul>
            </div>
            <div class="title">DESIGUAL
            </div>
        </div>
        <div class="b-brief-description">
            <div class="wrap-image">
                <div class="image" style="background: url('../assets/images/img9.png') no-repeat center;"></div>
            </div>
            <div class="wrap-text">
                Компания Bose (Bose Corporation, США) была создана в 1964 году профессором Массачусетского технологического института доктором Амаром Джи Боуз. Сегодня Bose является крупнейшим производителем домашней и профессиональной акустики и электроники, имеет годовой товарооборот в 1,5 млрд. долларов. На предприятиях Bose (а это шесть фабрик, 17 филиалов и множество магазинов по всему миру) работает порядка 10 тыс. сотрудников.
            </div>
        </div>
        <div class="b-partner-item">
            <div class="b-sidebar">
                <ul class="wrap-menu">
                    <li class="menu">
                        <a class="parent" href="">АКУСТИЧЕСКИЕ СИСТЕМЫ
                            <span class="beforeElem" style="display: none"></span>
                        </a>
                        <ul class="child" style="display: none;">
                            <li><a href=""><span class="icon"></span>Активные</a></li>
                            <li><a href=""><span class="icon"></span>Подвесные</a></li>
                            <li><a href=""><span class="icon"></span>Комбинированные комплекты</a></li>
                            <li><a href=""><span class="icon"></span>Крепления</a></li>
                            <li><a href=""><span class="icon"></span>Потолочные</a></li>
                            <li><a href=""><span class="icon"></span>Настенные</a></li>
                            <li><a href=""><span class="icon"></span>Напольные</a></li>
                            <li><a href=""><span class="icon"></span>Сабвуферы</a></li>
                            <li><a href=""><span class="icon"></span>Аксессуары</a></li>
                            <li><a href=""><span class="icon"></span>Кабель</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="parent" href="">УСИЛИТЕЛИ
                            <span class="beforeElem" style="display: none"></span>
                        </a>
                        <ul class="child" style="display: none;">
                            <li><a href=""><span class="icon"></span>Потолочные</a></li>
                            <li><a href=""><span class="icon"></span>Настенные</a></li>
                            <li><a href=""><span class="icon"></span>Напольные</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="parent" href="">В ДВЕ СТРОКИ НАЗВАНИЕ ПОДРАЗДЕЛА
                            <span class="beforeElem" style="display: none"></span>
                        </a>
                        <ul class="child" style="display: none;">
                            <li><a href=""><span class="icon"></span>Активные</a></li>
                            <li><a href=""><span class="icon"></span>Аксессуары</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="parent" href="">НАЗВАНИЕ ПОДРАЗДЕЛА
                        </a>
                    </li>
                </ul>
            </div>
            <div class="b-filter">
                <div class="block">
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-1" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter1.png');"></span>
                        <span class="text">Трансформация</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-2" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter2.png');"></span>
                        <span class="text">Сопротивление 16 Ом</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-3" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter3.png');"></span>
                        <span class="text">Сопротивление 8 Ом</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-4" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter4.png');"></span>
                        <span class="text">Сопротивление 4 Ом</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-5" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter5.png');"></span>
                        <span class="text">Влагозащищенный</span>
                    </div>
                </div>
                <div class="block">
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-6" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter6.png');"></span>
                        <span class="text">Высокой температуры</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-7" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter7.png');"></span>
                        <span class="text">Фильтр нижних частот</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-8" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter8.png');"></span>
                        <span class="text">Фильтр верних частот</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-9" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter9.png');"></span>
                        <span class="text">Активный 220 Вольт</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-10" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter10.png');"></span>
                        <span class="text">Проводной панели</span>
                    </div>
                </div>
                <div class="block">
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-11" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter11.png');"></span>
                        <span class="text">Инфракрасного пульта</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-12" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter12.png');"></span>
                        <span class="text">Радиочстотного пульта</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-13" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter13.png');"></span>
                        <span class="text">Протокол</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-14" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter14.png');"></span>
                        <span class="text">Микрофонный вход</span>
                    </div>
                    <div class="wrap-item">
                        <input type="checkbox" name="checkbox-15" value="">
                        <span class="icon" style="background: url('../assets/images/icon-filter15.png');"></span>
                        <span class="text">Матричный коммутатор</span>
                    </div>
                </div>
            </div>
            <div class="b-item-example">
                <div class="wrap-item active-item">
                    <div class="image" style="background: url('../assets/images/img5.png')">
                        <div class="filter-icon">
                            <span class="icon" style="background: url('../assets/images/icon-filter3.png');"></span>
                            <span class="icon" style="background: url('../assets/images/icon-filter4.png');"></span>
                            <span class="icon" style="background: url('../assets/images/icon-filter7.png');"></span>
                            <span class="icon" style="background: url('../assets/images/icon-filter1.png');"></span>
                        </div>
                    </div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить выбранные</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item active-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить выбранные</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item active-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить выбранные</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
                <div class="wrap-item">
                    <div class="image" style="background: url('../assets/images/img5.png')"></div>
                    <div class="name">Bose FreeSpace® DS100F Flush Mount loudspeaker</div>
                    <div class="characteristics">Встраиваемый громкоговоритель 8 Ом 100 Вт, режим 100В</div>
                    <a class="compare" href="#">сравнить</a>
                    <div class="i-item"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->