<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-portfolio portfolio">
    <div class="g-background-portfolio"></div>
    <div class="b-name-page">
        <div class="mb-wrap-info">
            <div class="crumbs">
                <ul>
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <div class="i-crumbs"></div>
                        <a class="activate" href="">Портфолио</a>
                    </li>
                </ul>
            </div>
            <div class="title">ПОРТФОЛИО
            </div>
        </div>
    </div>
    <div class="mb-wrap-pagination">
        <ul>
            <li><a href="#"><</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>
    <div class="b-projects-portfolio">
        <div class="mb-wrap-projects">
            <div class="projects">
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="/cases-portfolio.html">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="/cases-portfolio.html">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="#">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="/cases-portfolio.html">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="wrap-item">
                    <div class="title">Культурно-досуговый
                        центр «Лидер» МЧС России
                        (г. Видное Московской области)</div>
                    <div class="rectangle">
                        <img src="../assets/images/image1.png" alt=""/>
                    </div>
                    <div class="description">Культурно-досуговый центр «Лидер» Государственного учреждения «294 Центр по проведению спасательных операций особого риска МЧС России» располагается в городе Видное Московской области.</div>
                    <div class="wrap-more">
                        <a class="more" href="/cases-portfolio.html">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-wrap-pagination">
        <ul>
            <li><a href="#"><</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->