<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background">
    <div class="g-search">
        <div class="b-name-page">
            <div class="mb-wrap-info">
                <div class="title">ПОИСК
                </div>
            </div>
        </div>
        <div class="b-search">
            <div class="item">Введите ключевые слова для поиска:</div>
            <div class="wrap-search">
                <input class="search" type="text" placeholder="Сабвуферы">
                <input class="sub" type="submit" value="ПОИСК">
            </div>
        </div>
        <div class="title">РЕЗУЛЬТАТЫ ПОИСКА</div>
        <div class="product">
            <div class="left-block">
                <div class="image" style="background: url('../assets/images/img11.png')"></div>
            </div>
            <div class="right-block">
                <div class="title"><a href="">APart SUBA165</a></div>
                <div class="description">.. APart SDQ5PIR-BL ( <span class="category">Сабвуферы</span> ) ...</div>
                <div class="more">Товар</div>
            </div>
        </div>
        <div class="product">
            <div class="right-block">
                <div class="title"><a href="">APart SUBA165</a></div>
                <div class="description">APart SUBA165 - высококачественный активный/пассивный сабвуфер черного цвета, с функцией автоматического включения/выключения. Корпус выполнен из МДФ.</div>
                <div class="more">Товар</div>
            </div>
        </div>
        <div class="product">
            <div class="left-block">
                <div class="image" style="background: url('../assets/images/img11.png')"></div>
            </div>
            <div class="right-block">
                <div class="title"><a href="">APart SUBA165</a></div>
                <div class="description">.. APart SDQ5PIR-BL ( <span class="category">Сабвуферы</span> ) ...</div>
                <div class="more">Товар</div>
            </div>
        </div>
        <div class="product">
            <div class="left-block">
                <div class="image" style="background: url('../assets/images/img11.png')"></div>
            </div>
            <div class="right-block">
                <div class="title"><a href="">APart SUBA165</a></div>
                <div class="description">.. APart SDQ5PIR-BL ( <span class="category">Сабвуферы</span> ) ...</div>
                <div class="more">Товар</div>
            </div>
        </div>
        <div class="product">
            <div class="left-block">
                <div class="image" style="background: url('../assets/images/img11.png')"></div>
            </div>
            <div class="right-block">
                <div class="title"><a href="">APart SUBA165</a></div>
                <div class="description">.. APart SDQ5PIR-BL ( <span class="category">Сабвуферы</span> ) ...</div>
                <div class="more">Товар</div>
            </div>
        </div>
        <div class="mb-wrap-pagination">
            <ul>
                <li><a href="#"><</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->