<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background">
    <div class="g-sitemap">
        <div class="b-name-page">
            <div class="mb-wrap-info">
                <div class="title">КАРТА САЙТА
                </div>
            </div>
        </div>
        <div class="b-structure">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about.html">О Компании</a></li>
                <li><a href="/portfolio.html">Портфолио</a></li>
                <li><a href="/activity.html">Направление деятельности</a></li>
                <li>
                    <a href="/sphere.html">Сфера применения</a>
                    <ul class="under">
                        <li><a href="/area.html">Зона отдыха</a></li>
                        <li><a href="">Торговые и деловые центры</a></li>
                        <li><a href="">Гостинечные комплексы</a></li>
                        <li><a href="">Спортивные объекты</a></li>
                        <li><a href="">Медицинские центры</a></li>
                        <li><a href="">Рестораны</a></li>
                        <li><a href="">Магазины</a></li>
                    </ul>
                </li>
                <li><a href="">Проекты</a></li>
                <li><a href="">Отзывы</a></li>
                <li><a href="">Клиенты</a></li>
                <li><a href="/partners.html">Партнеры</a>
                    <li сlass="level"><a href="">Акустические системы</a>
                        <ul class="under">
                            <li><a href="">Спортивные объекты</a></li>
                            <li><a href="">Медицинские центры</a></li>
                            <li><a href="">Рестораны</a></li>
                        </ul>
                    </li>
                </li>
                <li><a href="/compare-products.html">Сравнение товаров</a></li>
                <li><a href="/contacts.html">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->