<!-- @@master  = layouts/main.html-->
<!-- @@block = content-->
<!-- @@include  = partials/header.html-->
<div class="g-background-sphere">
    <div class="b-sphere-page">
        <div class="b-name-page">
            <div class="mb-wrap-info">
                <div class="crumbs">
                    <ul>
                        <li>
                            <a href="">Главная</a>
                        </li>
                        <li>
                            <div class="i-crumbs"></div>
                            <a class="activate" href="">Сфера применения</a>
                        </li>
                    </ul>
                </div>
                <div class="title">СФЕРА ПРИМЕНЕНИЯ
                </div>
            </div>
        </div>
    </div>
    <div class="b-sphere-item">
        <div class="title">ЗОНА ОТДЫХА</div>
        <div class="wrap-image-text">
            <div class="image" style="background: #000 url('../assets/images/img5.png') no-repeat center;"></div>
            <div class="wrap-text">
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
            </div>
        </div>
        <a class="button" href="/area.html">
            <span>ПОДРОБНЕЕ</span>
        </a>
    </div>
    <div class="b-sphere-item mirror">
        <div class="title">ТОРГОВЫЕ И ДЕЛОВЫЕ ЦЕНТРЫ</div>
        <div class="wrap-image-text">
            <div class="wrap-text">
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
            </div>
            <div class="image" style="background: #000 url('../assets/images/img6.png') no-repeat center;"></div>
        </div>
        <a class="button" href="/area.html">
            <span>ПОДРОБНЕЕ</span>
        </a>
    </div>
    <div class="b-sphere-item">
        <div class="title">ЗОНА ОТДЫХА</div>
        <div class="wrap-image-text">
            <div class="image" style="background: #000 url('../assets/images/img7.png') no-repeat center;"></div>
            <div class="wrap-text">
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
            </div>
        </div>
        <a class="button" href="/area.html">
            <span>ПОДРОБНЕЕ</span>
        </a>
    </div>
    <div class="b-sphere-item mirror">
        <div class="title">ТОРГОВЫЕ И ДЕЛОВЫЕ ЦЕНТРЫ</div>
        <div class="wrap-image-text">
            <div class="wrap-text">
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</div>
                <div class="text">İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum </div>
            </div>
            <div class="image" style="background: #000 url('../assets/images/img8.png') no-repeat center;"></div>
        </div>
        <a class="button" href="/area.html">
            <span>ПОДРОБНЕЕ</span>
        </a>
    </div>
</div>
<!-- @@include  = partials/footer.html-->
<!-- @@close-->