<div class="b-wrap-footer">
    <div class="mb-copyright">
        <ul class="links">
            <li><a href="">ИСТОРИЯ УСПЕХА</a></li>
            <li><a href="">ПОРТФОЛИО</a></li>
        </ul>
        <div class="copyright">© 2003 - 2013. ООО «ПРИОРИТИ».
            Все права защищены</div>
        <div class="maps-site"><a href="/sitemap.html">карта сайта</a></div>
    </div>
    <div class="mb-contact-info">
        <div class="address">
            Адрес: г. Москва, ул. Краснобогатырская д.2,
            ТЦ "Красный богатырь", стр. 73, офис 14.
        </div>
        <div class="mb-wrap-info">
            <div class="top-item">
                <span class="i-phone"></span>
                <span>+7 (495) 645-82-83</span>
            </div>
            <div class="bottom-item">
                <a href="#">
                    <span>обратная связь</span>
                </a>
                <a href="#">
                    <span>контакты</span>
                </a>
            </div>
            <div class="mail"><a href="mailto:info@prioriti.ru">info@prioriti.ru</a></div>
        </div>
    </div>
</div>