<div class="b-top-header">
    <a href="/" class="logo"></a>
    <div class="mb-wrap-find">
        <div class="wrap-input">
            <input type="text" placeholder="ПОИСК">
        </div>
        <input type="submit" class="i-magnifier" value="">
        <div class="language">
            <a href="">
                <span>RU</span>
            </a>
            <a href="">
                <span class="active">EN</span>
            </a>
        </div>
    </div>
    <div class="mb-wrap-info">
        <div class="top-item">
            <span class="i-phone"></span>
            <span>+7 (495) 645-82-83</span>
        </div>
        <div class="bottom-item">
            <a class="feedback" href="#feedback">
                <span>обратная связь</span>
            </a>
            <a href="#">
                <span>контакты</span>
            </a>
        </div>
    </div>
</div>
<div class="b-bottom-header">
    <ul class="left">
        <li><a href="/about.html">О КОМПАНИИ</a><span class="i-rhombus"></span></li>
        <li><a href="/portfolio.html">ПОРТФОЛИО</a><span class="i-rhombus"></span></li>
    </ul>
    <ul class="right">
        <li><a href="/activity.html">НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</a><span class="i-rhombus"></span></li>
        <li><a href="/partners.html">ПАРТНЕРЫ</a><span class="i-rhombus"></span></li>
    </ul>
</div>
